html
    head
        include head/head.pug

    body
        include head/toc.pug

        /////////////////////////////////////////////////////

        h2#controls Controls

        include controls/text_simple.pug

        include controls/gauge.pug

        include controls/gauge_adv.pug

        include controls/fillbar.pug

        include controls/fillbar_adv.pug

        include controls/time_plot.pug

        include controls/time_plot_multi.pug

        include controls/sparkline.pug

        include controls/gantt_chart.pug

        include controls/lineplot.pug

        include controls/webplot.pug

        include controls/logger.pug

        include controls/svg_view.pug

        include controls/map_view.pug

        include controls/table.pug

        include controls/treeview.pug

        div(style="height:100px")
