html
    head
        include head/head.pug

    body
        include head/toc.pug

        h2 Examples

        p.
            <a href="../samples/sample1.html">Basic grid example</a>
        iframe(src="../samples/sample1.html", style="width:100%; height: 480px")

        p.
            <a href="../samples/sample2.html">Map example</a>
        iframe(src="../samples/sample2.html", style="width:100%; height: 480px")

        p.
            <a href="../samples/report_example.html">Report example</a>
        iframe(src="../samples/report_example.html", style="width:100%; height: 480px")
