html
    head
        include head/head.pug

    body
        include head/toc.pug

        h2 Icons

        p SubtleFrame comes packaged with <a href="https://frankovacevich.github.io/subtleicons/">SubtleIcons</a>
