html
    head
        include head/head.pug

    body
        include head/toc.pug

        h2 Subtleframe

        p.
            Subtle free is a free and open source html, css and javascript framework that
            makes building dashboards and IOT GUI applications easier.

        p.
            Subtleframe consists of a css and a js files that can be found on the github
            site.

        p.
            Some parts of subtleframe require some dependencies, like Popper.js. The required
            dependencies are specified on the documentation.

        p.
            Subtleframe works well with <a href="https://getbootstrap.com">Bootstrap</a>.
