h3#horizontal_vertical_layout Horizontal and vertical layout

p.
    Inside grids you usually stack components vertically or horizontally. You can use the <code>h_layout</code> and <code>v_layout</code>
    CSS Classes to create a simple stacked layout. Divs placed inside any of these layouts will automatically resize and stack inside their
    parent.
