h3#reports Reports

p.
    You can use the class <code>report-page</code> to create a printable html report.

pre
    code.block.html.
        &lt;div class="report-page"&gt;
          &lt;div class="report-header"&gt;
            &lt;div style="text-align:left"&gt;Automatic report&lt;br>&lt;a id="report_name"&gt;report_example&lt;/a>&lt;/div&gt;
            &lt;div style="text-align:center"&gt;&lt;i class="icon-subtle"&gt;&lt;/i&gt;&lt;/div&gt;
            &lt;div style="text-align:right"&gt;Date: &lt;br&gt;&lt;a id="date"&gt;@&lt;/a&gt;&lt;/div&gt;
          &lt;/div&gt;
          &lt;hr&gt;
        &lt;div class="report-body"&gt;


p.
    Look at <a href="/samples/report_example.html">this example</a> of an html report.
