div.sidebar
    div.title
        i.icon-subtle(style="font-size: 50px")
        br
        br
        //-img(src="img/subtle.svg", style="width:50px; padding:20px 0")
        div Subtleframe
        p v0.1

    a.item(href="index.html") Getting started

    a.item(href="examples.html") Examples

    a.item(href="colors.html") Colors

    a.item(href="icons.html") Icons

    a.item(href="layout.html") Layout
    a.sub.item(href="layout.html#grid") Grid
    a.sub.item(href="layout.html#panels") Panels
    a.sub.item(href="layout.html#horizontal_vertical_layout") Horizontal and vertical layout
    a.sub.item(href="layout.html#tabs") Tabs layout
    a.sub.item(href="layout.html#reports") Reports

    a.item(href="controls.html") Controls
    a.sub.item(href="controls.html#text_simple") Text Simple
    a.sub.item(href="controls.html#gauge") Gauge
    a.sub.item(href="controls.html#gauge_historic") Historic Gauge
    a.sub.item(href="controls.html#scale") Scale
    a.sub.item(href="controls.html#time_plot") Time plot
    a.sub.item(href="controls.html#multi_time_plot") Multi time plot
    a.sub.item(href="controls.html#sparkline") Sparkline
    a.sub.item(href="controls.html#gantt_chart") Gnatt chart
    a.sub.item(href="controls.html#line_plot") Lineplot
    a.sub.item(href="controls.html#web_plot") Webplot
    a.sub.item(href="controls.html#logger") Logger
    a.sub.item(href="controls.html#svg_view") Svg view
    a.sub.item(href="controls.html#map_view") Map view
    a.sub.item(href="controls.html#table") Table
    a.sub.item(href="controls.html#treeview") Tree view

    a.item(href="plotly.html") Plotly helpers
    a.sub.item(href="plotly.html#scatter") Scatter plot
    a.sub.item(href="plotly.html#column") Column chart
    a.sub.item(href="plotly.html#pie") Pie chart
    a.sub.item(href="plotly.html#boxes") Box and whiskers plot
    a.sub.item(href="plotly.html#histogram") Histogram
    a.sub.item(href="plotly.html#heatmap") Heatmap
    a.sub.item(href="plotly.html#text") Text
