h3#gauge_historic Historic Gauge

p 
    | Use 
    code Subtle.GaugeAdv(object, params)
    |  to display a gauge that also shows a range of historical values.

//
h4 Example

div.h_layout(style="height:150px")
    div#gaugeh(style="max-width:200px")

script.
    var gaugeh = new Subtle.GaugeHistoric("gaugeh", {});
    window.setInterval(function(){
        gaugeh.update(Math.random()*0.25+0.5);
    }, 500);
    
pre 
    code.block.javascript
        | var gaugeh = new Subtle.GaugeHistoric("gaugeh", {});
        | window.setInterval(function(){
        |     gaugeh.update(Math.random()*0.25+0.5);
        | }, 500);

//
h4 Params

p The historic gauge is derived from the normal gauge, and thus has all it's params, with differences on the following:

table.params-table
    tr
        td param
        td type
        td default
        td description
    tr
        td inner_padding
        td Number
        td 3
        td Makes the width of the gauge's bar thinner.
    tr
        td history_length
        td Number
        td 3600
        td Determines for how long (in seconds) the gauge stores the values to display the range.
    

//
h4 Update

p.
    Call the update method with the new value to update the control

code
    | Subtle.GaugeHistoric.update(value, time = "")

p.
    Here the time can be specified as an ISO string (YYYY-MM-DD HH:MM:SS) or as a javascript Date
    (the default value, an empty string, means that the value passed corresponds to the present time).


