.two-item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "at_font";
}

.tx_badge {
  padding: 5px 10px;
  text-align: center;
  border-radius: 6px;
}

.fillbar_parent {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "at_font";
  color: #fff;
}

.fillbar {
  width: 100%;
  background-color: #00000099;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  text-align: center;
}

.fillbar_v {
  height: 100%;
  background-color: #00000099;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 0;
  text-align: center;
}

.svg_view_container {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "at_font";
}

.svg_view_container.stretch svg {
  width: 100%;
  height: 100%;
}

table.logger {
  margin-top: 15px;
  font-family: "at_font";
  /*.tl-milestone:hover, .tl-milestone.hover {
  	box-shadow: 0 0 0 .2rem rgba( $main_color, .5 );
  }*/
}
table.logger td {
  height: 100%;
  vertical-align: top;
  display: table-cell;
  padding: 0;
  position: relative;
}
table.logger .logger-stem {
  width: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -15px;
  margin-bottom: -15px;
}
table.logger .logger-item {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #00000088;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-sizing: content-box;
}

.counter-button {
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  font-weight: bold;
  line-height: 22px;
  border-radius: 12px;
  background-color: #00baff;
  color: #fff;
}

.tab-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  text-align: center;
}

.tab-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.tabs_layout_container i {
  vertical-align: middle;
}

.tabs_layout_container div {
  box-sizing: content-box !important;
}

.tree-node {
  width: 100%;
  background-color: transparent;
  color: black;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.tree-node:hover {
  background-color: #bfdeff;
}

.tree-node i {
  font-size: 12px;
  color: #4d4d4d;
  padding-right: 5px;
}

.tree-node.selected {
  background-color: #007BFF;
  color: white;
}

.tree-node .tree_arrow {
  padding-right: 5px;
  cursor: pointer;
}

.subtletable {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
}
.subtletable td {
  padding: 10px;
  border: none;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.subtletable tr {
  border: none;
}
.subtletable tr:nth-child(2n) {
  background-color: #00000033;
}
.subtletable tr:first-child {
  font-weight: bold;
}
.subtletable td:first-child {
  font-weight: bold;
}
.subtletable svg {
  vertical-align: baseline;
}

.floating_button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #00baff;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  font-size: 24px;
  line-height: 65px;
  cursor: pointer;
  z-index: 999;
}

.floating_button i {
  padding-left: 2px;
}

.grid_layout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
  box-sizing: border-box;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .grid_layout {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.h_layout, .v_layout {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "at_font";
}

.v_layout {
  flex-direction: column;
  font-family: "at_font";
}

.h_layout > div, .v_layout > div {
  flex: 1 0;
}

.gpanel {
  padding: 10px;
  padding-top: 0;
  background-color: #597a8538;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "at_font";
}

.gtitle {
  flex-grow: 0 !important;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  font-weight: bold;
  min-height: auto !important;
  font-family: "at_font";
}

.gtext, .gtext-left, .gtext-right {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "at_font";
}

.gtext-right {
  justify-content: flex-end;
  padding-right: 5px;
  font-family: "at_font";
}

.gtext-left {
  justify-content: flex-start;
  padding-left: 5px;
  font-family: "at_font";
}

.flex_layout {
  display: flex;
  padding: 10px;
  /*height: 100%; */
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow-y: scroll;
  align-content: flex-start;
}

.fpanel {
  padding: 15px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 5px;
  flex-grow: 1;
  min-width: 200px;
  -webkit-box-shadow: 0px 0px 8px 2px #c7c7c7;
  -moz-box-shadow: 0px 0px 8px 2px #c7c7c7;
  box-shadow: 0px 0px 8px 2px #c7c7c7;
  font-family: "at_font";
}

.sidebar-nav {
  width: 220px;
  height: 100%;
  background-color: #597a8538;
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-nav div {
  width: 100%;
}

.sidebar-nav img {
  padding: 20px 40px;
  box-sizing: border-box;
}

.sidebar-nav .item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.sidebar-nav .item:hover {
  background-color: #00000055;
}

.sidebar-nav .item i {
  font-size: 18px;
  vertical-align: middle;
}

.sidebar-nav .title {
  width: 100%;
  height: 48px;
  padding-top: 20px;
  font-variant: small-caps;
  box-sizing: border-box;
  padding-left: 20px;
}

.sidebar-content {
  position: absolute;
  left: 220px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0.75in;
}
@media print {
  .fig {
    break-inside: avoid;
  }

  html, body {
    width: 8.27in;
    min-width: 0 !important;
  }

  body {
    overflow-x: unset !important;
    height: auto !important;
    min-width: 0 !important;
  }

  .report-page {
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    box-sizing: content-box;
    height: 11.69in;
    line-height: 1.25;
    font-size: 13px;
  }
  .report-page b {
    font-weight: 700;
  }
  .report-page table, .report-page .subtletable {
    line-height: 1.25;
    box-sizing: border-box !important;
    border-collapse: collapse;
  }
  .report-page table tr, .report-page .subtletable tr {
    background-color: transparent;
  }
  .report-page table td, .report-page .subtletable td {
    padding: 4px;
    box-sizing: border-box !important;
  }
  .report-page h1 {
    padding: 0px;
    text-align: center;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    font-size: 2rem !important;
    margin: 20px 0 20px 0;
  }
  .report-page h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
  }
  .report-page h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
  }
  .report-page h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 800;
  }
  .report-page hr {
    border: none;
    border-bottom: 1px solid black;
    margin: 16px 0;
  }

  .hide-on-print, .mini, .floating_button, .page-break {
    display: none;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
}
body {
  counter-reset: fign;
  counter-reset: page;
}

@media (max-width: 960px) {
  .report-page {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
.report-page {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 16px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  margin-top: 60px;
  padding: 0.75in;
  max-width: 8.27in;
  min-height: 11.69in;
  background-color: white;
  color: black !important;
  font-family: "Helvetica" !important;
  line-height: 1.25;
  font-size: 13px;
  /*
  table{ width:100%; table-layout: fixed; text-align: center; border-collapse: collapse; }
  td{ padding: 10px; border: none; border-bottom: 1px solid #00000033; }
  tr{ border: none; }
  tr:nth-child(2n){ background-color: #00000033; }
  tr:first-child{ font-weight: bold; }
  td:first-child{ text-align: left; font-weight: bold; }
   */
}
.report-page b {
  font-weight: 700;
}
.report-page table, .report-page .subtletable {
  line-height: 1.25;
  box-sizing: border-box !important;
  border-collapse: collapse;
}
.report-page table tr, .report-page .subtletable tr {
  background-color: transparent;
}
.report-page table td, .report-page .subtletable td {
  padding: 4px;
  box-sizing: border-box !important;
}
.report-page table th, .report-page .subtletable th {
  padding: 4px;
}
.report-page h1 {
  padding: 0px;
  text-align: center;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  font-size: 2rem !important;
  margin: 20px 0 20px 0;
}
.report-page h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
}
.report-page h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
}
.report-page h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 800;
}
.report-page hr {
  border: none;
  border-bottom: 1px solid black;
  margin: 16px 0;
}
.report-page .badge {
  padding: 5px 10px;
  border-radius: 20px;
  color: black;
}
.report-page .big {
  font-size: 50px;
}
.report-page .big i {
  vertical-align: middle;
}
.report-page .h_layout, .report-page .v_layout {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}
.report-page .h_layout div, .report-page .v_layout div {
  flex-grow: 1;
}
.report-page .report-header {
  display: flex;
  height: 50px;
  align-items: center;
}
.report-page .report-header div {
  flex-grow: 1;
  width: 100%;
}
.report-page .report-header img {
  height: 40px;
}
.report-page .fig {
  height: 2.5in;
}
.report-page .fig_txt {
  padding: 10px;
  font-style: italic;
  text-align: center;
  counter-increment: fign;
}
.report-page .fig_txt::before {
  content: "Figure " counter(fign) ". ";
  font-weight: bold;
}

@font-face {
  font-family: "subtleicons";
  src: url("fonts/subtleicons.eot?ldm24i");
  src: url("fonts/subtleicons.eot?ldm24i#iefix") format("embedded-opentype"), url("fonts/subtleicons.ttf?ldm24i") format("truetype"), url("fonts/subtleicons.woff?ldm24i") format("woff"), url("fonts/subtleicons.svg?ldm24i#subtleicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "subtleicons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ac:before {
  content: "\e900";
}

.icon-access-point:before {
  content: "\e901";
}

.icon-ai:before {
  content: "\e902";
}

.icon-airplane:before {
  content: "\e903";
}

.icon-alarm:before {
  content: "\e904";
}

.icon-aleph:before {
  content: "\e905";
}

.icon-alpha:before {
  content: "\e906";
}

.icon-angle:before {
  content: "\e907";
}

.icon-antenna:before {
  content: "\e908";
}

.icon-antenna-2:before {
  content: "\e909";
}

.icon-archive:before {
  content: "\e90a";
}

.icon-arduino:before {
  content: "\e90b";
}

.icon-arm-board:before {
  content: "\e90c";
}

.icon-armchair:before {
  content: "\e90d";
}

.icon-arrow-down:before {
  content: "\e90e";
}

.icon-arrow-left:before {
  content: "\e90f";
}

.icon-arrow-right:before {
  content: "\e910";
}

.icon-arrow-up:before {
  content: "\e911";
}

.icon-at:before {
  content: "\e912";
}

.icon-augmented-reality:before {
  content: "\e913";
}

.icon-axes:before {
  content: "\e914";
}

.icon-badge:before {
  content: "\e915";
}

.icon-badge-2:before {
  content: "\e916";
}

.icon-bandaid:before {
  content: "\e917";
}

.icon-bandaid-2:before {
  content: "\e918";
}

.icon-barcode:before {
  content: "\e919";
}

.icon-barcode-2:before {
  content: "\e91a";
}

.icon-barcode-scanner:before {
  content: "\e91b";
}

.icon-bar-horizontal:before {
  content: "\e91c";
}

.icon-bar-vertical:before {
  content: "\e91d";
}

.icon-battery-0:before {
  content: "\e91e";
}

.icon-battery-1:before {
  content: "\e91f";
}

.icon-battery-2:before {
  content: "\e920";
}

.icon-battery-3:before {
  content: "\e921";
}

.icon-battery-charging:before {
  content: "\e922";
}

.icon-bed:before {
  content: "\e923";
}

.icon-bell:before {
  content: "\e924";
}

.icon-bell-2:before {
  content: "\e925";
}

.icon-bell-n:before {
  content: "\e926";
}

.icon-beta:before {
  content: "\e927";
}

.icon-bicycle:before {
  content: "\e928";
}

.icon-bio-hazard:before {
  content: "\e929";
}

.icon-blinders-2:before {
  content: "\e92a";
}

.icon-block:before {
  content: "\e92b";
}

.icon-blocked:before {
  content: "\e92c";
}

.icon-bluetooth:before {
  content: "\e92d";
}

.icon-bolt:before {
  content: "\e92e";
}

.icon-book:before {
  content: "\e92f";
}

.icon-book-2:before {
  content: "\e930";
}

.icon-bookmark:before {
  content: "\e931";
}

.icon-bookmark-e:before {
  content: "\e932";
}

.icon-box-closed:before {
  content: "\e933";
}

.icon-boxes:before {
  content: "\e934";
}

.icon-boxes-2:before {
  content: "\e935";
}

.icon-boxes-pallet:before {
  content: "\e936";
}

.icon-box-full:before {
  content: "\e937";
}

.icon-box-open:before {
  content: "\e938";
}

.icon-braces:before {
  content: "\e939";
}

.icon-broom:before {
  content: "\e93a";
}

.icon-browser:before {
  content: "\e93b";
}

.icon-brush:before {
  content: "\e93c";
}

.icon-bug:before {
  content: "\e93d";
}

.icon-building:before {
  content: "\e93e";
}

.icon-bullet-list:before {
  content: "\e93f";
}

.icon-button:before {
  content: "\e940";
}

.icon-button-2:before {
  content: "\e941";
}

.icon-button-click:before {
  content: "\e942";
}

.icon-c-3g:before {
  content: "\e943";
}

.icon-c-4g:before {
  content: "\e944";
}

.icon-c-5g:before {
  content: "\e945";
}

.icon-calculator:before {
  content: "\e946";
}

.icon-calendar:before {
  content: "\e947";
}

.icon-caliper:before {
  content: "\e948";
}

.icon-car:before {
  content: "\e949";
}

.icon-card-contactless:before {
  content: "\e94a";
}

.icon-cart:before {
  content: "\e94b";
}

.icon-car-top:before {
  content: "\e94c";
}

.icon-category:before {
  content: "\e94d";
}

.icon-cctv:before {
  content: "\e94e";
}

.icon-change:before {
  content: "\e94f";
}

.icon-chart:before {
  content: "\e950";
}

.icon-chart-analysis:before {
  content: "\e951";
}

.icon-chart-area:before {
  content: "\e952";
}

.icon-chart-bar:before {
  content: "\e953";
}

.icon-chart-bar-2:before {
  content: "\e954";
}

.icon-chart-boxes:before {
  content: "\e955";
}

.icon-chart-down:before {
  content: "\e956";
}

.icon-chart-gantt:before {
  content: "\e957";
}

.icon-chart-line:before {
  content: "\e958";
}

.icon-chart-pie:before {
  content: "\e959";
}

.icon-chart-scatter:before {
  content: "\e95a";
}

.icon-chart-trendline:before {
  content: "\e95b";
}

.icon-chart-up:before {
  content: "\e95c";
}

.icon-chart-web:before {
  content: "\e95d";
}

.icon-checkbox:before {
  content: "\e95e";
}

.icon-checklist:before {
  content: "\e95f";
}

.icon-chevron-down:before {
  content: "\e960";
}

.icon-chevron-left:before {
  content: "\e961";
}

.icon-chevron-right:before {
  content: "\e962";
}

.icon-chevron-up:before {
  content: "\e963";
}

.icon-circle:before {
  content: "\e964";
}

.icon-circle-e:before {
  content: "\e965";
}

.icon-clip:before {
  content: "\e966";
}

.icon-cloud:before {
  content: "\e967";
}

.icon-cloud-download:before {
  content: "\e968";
}

.icon-cloud-n:before {
  content: "\e969";
}

.icon-cloud-ok:before {
  content: "\e96a";
}

.icon-cloud-upload:before {
  content: "\e96b";
}

.icon-cloudy:before {
  content: "\e96c";
}

.icon-cloudy-2:before {
  content: "\e96d";
}

.icon-code:before {
  content: "\e96e";
}

.icon-coffee:before {
  content: "\e96f";
}

.icon-coffee-machine:before {
  content: "\e970";
}

.icon-cog:before {
  content: "\e971";
}

.icon-color-palette:before {
  content: "\e972";
}

.icon-color-palette-2:before {
  content: "\e973";
}

.icon-compass:before {
  content: "\e974";
}

.icon-connection:before {
  content: "\e975";
}

.icon-connections:before {
  content: "\e976";
}

.icon-console:before {
  content: "\e977";
}

.icon-contactor:before {
  content: "\e978";
}

.icon-container:before {
  content: "\e979";
}

.icon-contract:before {
  content: "\e97a";
}

.icon-conveyor-belt:before {
  content: "\e97b";
}

.icon-copy:before {
  content: "\e97c";
}

.icon-corner-bottom-left:before {
  content: "\e97d";
}

.icon-corner-bottom-right:before {
  content: "\e97e";
}

.icon-corner-top-left:before {
  content: "\e97f";
}

.icon-corner-top-right:before {
  content: "\e980";
}

.icon-credit-card:before {
  content: "\e981";
}

.icon-cross:before {
  content: "\e982";
}

.icon-curve-left:before {
  content: "\e983";
}

.icon-curve-right:before {
  content: "\e984";
}

.icon-cut---Copy:before {
  content: "\e985";
}

.icon-dashboard:before {
  content: "\e986";
}

.icon-database:before {
  content: "\e987";
}

.icon-datamatrix:before {
  content: "\e988";
}

.icon-dent:before {
  content: "\e989";
}

.icon-desktop-pc:before {
  content: "\e98a";
}

.icon-direction:before {
  content: "\e98b";
}

.icon-dishwasher:before {
  content: "\e98c";
}

.icon-division:before {
  content: "\e98d";
}

.icon-dollar:before {
  content: "\e98e";
}

.icon-door:before {
  content: "\e98f";
}

.icon-door-handle:before {
  content: "\e990";
}

.icon-door-lock:before {
  content: "\e991";
}

.icon-dots-horizontal:before {
  content: "\e992";
}

.icon-dots-vertical:before {
  content: "\e993";
}

.icon-download:before {
  content: "\e994";
}

.icon-drone:before {
  content: "\e995";
}

.icon-drone-top:before {
  content: "\e996";
}

.icon-drop:before {
  content: "\e997";
}

.icon-drops:before {
  content: "\e998";
}

.icon-duplicate:before {
  content: "\e999";
}

.icon-education:before {
  content: "\e99a";
}

.icon-elevator:before {
  content: "\e99b";
}

.icon-engine:before {
  content: "\e99c";
}

.icon-equation:before {
  content: "\e99d";
}

.icon-erlenmeyer:before {
  content: "\e99e";
}

.icon-error:before {
  content: "\e99f";
}

.icon-error-alt:before {
  content: "\e9a0";
}

.icon-escalator:before {
  content: "\e9a1";
}

.icon-ethernet:before {
  content: "\e9a2";
}

.icon-euro:before {
  content: "\e9a3";
}

.icon-expand:before {
  content: "\e9a4";
}

.icon-eye:before {
  content: "\e9a5";
}

.icon-eye-2:before {
  content: "\e9a6";
}

.icon-eye-n:before {
  content: "\e9a7";
}

.icon-fan:before {
  content: "\e9a8";
}

.icon-faucet:before {
  content: "\e9a9";
}

.icon-file:before {
  content: "\e9aa";
}

.icon-file-badge:before {
  content: "\e9ab";
}

.icon-file-chart:before {
  content: "\e9ac";
}

.icon-file-comma:before {
  content: "\e9ad";
}

.icon-file-image:before {
  content: "\e9ae";
}

.icon-file-p:before {
  content: "\e9af";
}

.icon-file-pdf:before {
  content: "\e9b0";
}

.icon-file-search:before {
  content: "\e9b1";
}

.icon-file-table:before {
  content: "\e9b2";
}

.icon-file-text:before {
  content: "\e9b3";
}

.icon-file-w:before {
  content: "\e9b4";
}

.icon-file-x:before {
  content: "\e9b5";
}

.icon-filter:before {
  content: "\e9b6";
}

.icon-fingerprint:before {
  content: "\e9b7";
}

.icon-fire:before {
  content: "\e9b8";
}

.icon-fire-extinguisher:before {
  content: "\e9b9";
}

.icon-fireplace:before {
  content: "\e9ba";
}

.icon-firewall:before {
  content: "\e9bb";
}

.icon-fitband:before {
  content: "\e9bc";
}

.icon-flag:before {
  content: "\e9bd";
}

.icon-floor-plan:before {
  content: "\e9be";
}

.icon-flow-meter:before {
  content: "\e9bf";
}

.icon-folder:before {
  content: "\e9c0";
}

.icon-folder-closed:before {
  content: "\e9c1";
}

.icon-fork:before {
  content: "\e9c2";
}

.icon-forklift:before {
  content: "\e9c3";
}

.icon-freezing:before {
  content: "\e9c4";
}

.icon-fridge:before {
  content: "\e9c5";
}

.icon-function:before {
  content: "\e9c6";
}

.icon-garage:before {
  content: "\e9c7";
}

.icon-garage-2:before {
  content: "\e9c8";
}

.icon-gas-station:before {
  content: "\e9c9";
}

.icon-gift:before {
  content: "\e9ca";
}

.icon-glasses:before {
  content: "\e9cb";
}

.icon-grid:before {
  content: "\e9cc";
}

.icon-group:before {
  content: "\e9cd";
}

.icon-gyroscope:before {
  content: "\e9ce";
}

.icon-hand:before {
  content: "\e9cf";
}

.icon-hard-drive:before {
  content: "\e9d0";
}

.icon-hashtag:before {
  content: "\e9d1";
}

.icon-headphones:before {
  content: "\e9d2";
}

.icon-heart:before {
  content: "\e9d3";
}

.icon-heart-alt:before {
  content: "\e9d4";
}

.icon-high-voltage:before {
  content: "\e9d5";
}

.icon-history:before {
  content: "\e9d6";
}

.icon-home:before {
  content: "\e9d7";
}

.icon-hot-tub:before {
  content: "\e9d8";
}

.icon-hvac:before {
  content: "\e9d9";
}

.icon-image:before {
  content: "\e9da";
}

.icon-important:before {
  content: "\e9db";
}

.icon-important-alt:before {
  content: "\e9dc";
}

.icon-inbox:before {
  content: "\e9dd";
}

.icon-infinite:before {
  content: "\e9de";
}

.icon-info:before {
  content: "\e9df";
}

.icon-info-alt:before {
  content: "\e9e0";
}

.icon-infrared:before {
  content: "\e9e1";
}

.icon-isometric:before {
  content: "\e9e2";
}

.icon-joystick:before {
  content: "\e9e3";
}

.icon-joystick-2:before {
  content: "\e9e4";
}

.icon-key:before {
  content: "\e9e5";
}

.icon-keyboard:before {
  content: "\e9e6";
}

.icon-keypad:before {
  content: "\e9e7";
}

.icon-knob:before {
  content: "\e9e8";
}

.icon-label:before {
  content: "\e9e9";
}

.icon-ladder:before {
  content: "\e9ea";
}

.icon-lamp:before {
  content: "\e9eb";
}

.icon-lamp-2:before {
  content: "\e9ec";
}

.icon-laptop:before {
  content: "\e9ed";
}

.icon-layers:before {
  content: "\e9ee";
}

.icon-layout-1:before {
  content: "\e9ef";
}

.icon-layout-2:before {
  content: "\e9f0";
}

.icon-layout-3:before {
  content: "\e9f1";
}

.icon-led:before {
  content: "\e9f2";
}

.icon-level-co2:before {
  content: "\e9f3";
}

.icon-level-nox:before {
  content: "\e9f4";
}

.icon-level-o2:before {
  content: "\e9f5";
}

.icon-level-plants:before {
  content: "\e9f6";
}

.icon-level-tree:before {
  content: "\e9f7";
}

.icon-level-uv:before {
  content: "\e9f8";
}

.icon-level-water:before {
  content: "\e9f9";
}

.icon-lifebuoy:before {
  content: "\e9fa";
}

.icon-light-bulb:before {
  content: "\e9fb";
}

.icon-light-bulb-alt:before {
  content: "\e9fc";
}

.icon-light-off:before {
  content: "\e9fd";
}

.icon-light-on:before {
  content: "\e9fe";
}

.icon-light-switch:before {
  content: "\e9ff";
}

.icon-link:before {
  content: "\ea00";
}

.icon-link-broken:before {
  content: "\ea01";
}

.icon-list:before {
  content: "\ea02";
}

.icon-loading-1:before {
  content: "\ea03";
}

.icon-loading-2:before {
  content: "\ea04";
}

.icon-loading-3:before {
  content: "\ea05";
}

.icon-lock:before {
  content: "\ea06";
}

.icon-lora:before {
  content: "\ea07";
}

.icon-magnet:before {
  content: "\ea08";
}

.icon-mail:before {
  content: "\ea09";
}

.icon-map-pin:before {
  content: "\ea0a";
}

.icon-map-pin-2:before {
  content: "\ea0b";
}

.icon-map-pin-3:before {
  content: "\ea0c";
}

.icon-map-pin-n:before {
  content: "\ea0d";
}

.icon-mcu:before {
  content: "\ea0e";
}

.icon-mcu-2:before {
  content: "\ea0f";
}

.icon-measure:before {
  content: "\ea10";
}

.icon-megaphone:before {
  content: "\ea11";
}

.icon-megaphone-2:before {
  content: "\ea12";
}

.icon-message:before {
  content: "\ea13";
}

.icon-message-2:before {
  content: "\ea14";
}

.icon-meter:before {
  content: "\ea15";
}

.icon-meter-2:before {
  content: "\ea16";
}

.icon-meter-3:before {
  content: "\ea17";
}

.icon-microphone:before {
  content: "\ea18";
}

.icon-microphone-n:before {
  content: "\ea19";
}

.icon-microwave:before {
  content: "\ea1a";
}

.icon-minus:before {
  content: "\ea1b";
}

.icon-monitor-chart:before {
  content: "\ea1c";
}

.icon-monitor-chart-alt:before {
  content: "\ea1d";
}

.icon-monitor-console:before {
  content: "\ea1e";
}

.icon-monitor-console-alt:before {
  content: "\ea1f";
}

.icon-monitor-finance:before {
  content: "\ea20";
}

.icon-monitor-finance-alt:before {
  content: "\ea21";
}

.icon-monitor-log:before {
  content: "\ea22";
}

.icon-monitor-log-alt:before {
  content: "\ea23";
}

.icon-monitor-stats:before {
  content: "\ea24";
}

.icon-monitor-stats-alt:before {
  content: "\ea25";
}

.icon-monitor-user:before {
  content: "\ea26";
}

.icon-monitor-user-alt:before {
  content: "\ea27";
}

.icon-moon:before {
  content: "\ea28";
}

.icon-mouse:before {
  content: "\ea29";
}

.icon-mqtt:before {
  content: "\ea2a";
}

.icon-music:before {
  content: "\ea2b";
}

.icon-network:before {
  content: "\ea2c";
}

.icon-neural-network:before {
  content: "\ea2d";
}

.icon-news:before {
  content: "\ea2e";
}

.icon-next:before {
  content: "\ea2f";
}

.icon-nfc:before {
  content: "\ea30";
}

.icon-noise:before {
  content: "\ea31";
}

.icon-note:before {
  content: "\ea32";
}

.icon-notification:before {
  content: "\ea33";
}

.icon-nuclear:before {
  content: "\ea34";
}

.icon-ok:before {
  content: "\ea35";
}

.icon-on-off:before {
  content: "\ea36";
}

.icon-open:before {
  content: "\ea37";
}

.icon-outlet:before {
  content: "\ea38";
}

.icon-oven:before {
  content: "\ea39";
}

.icon-partially-cloudy:before {
  content: "\ea3a";
}

.icon-paste:before {
  content: "\ea3b";
}

.icon-path:before {
  content: "\ea3c";
}

.icon-pause:before {
  content: "\ea3d";
}

.icon-pen:before {
  content: "\ea3e";
}

.icon-pencil:before {
  content: "\ea3f";
}

.icon-percent:before {
  content: "\ea40";
}

.icon-person:before {
  content: "\ea41";
}

.icon-pet-food-dispenser:before {
  content: "\ea42";
}

.icon-ph-meter:before {
  content: "\ea43";
}

.icon-phone:before {
  content: "\ea44";
}

.icon-phone-2:before {
  content: "\ea45";
}

.icon-phone-n:before {
  content: "\ea46";
}

.icon-pin:before {
  content: "\ea47";
}

.icon-plant:before {
  content: "\ea48";
}

.icon-play:before {
  content: "\ea49";
}

.icon-plc:before {
  content: "\ea4a";
}

.icon-plug:before {
  content: "\ea4b";
}

.icon-plus:before {
  content: "\ea4c";
}

.icon-poll:before {
  content: "\ea4d";
}

.icon-press:before {
  content: "\ea4e";
}

.icon-previous:before {
  content: "\ea4f";
}

.icon-printer:before {
  content: "\ea50";
}

.icon-pulse:before {
  content: "\ea51";
}

.icon-pulse-train:before {
  content: "\ea52";
}

.icon-pump:before {
  content: "\ea53";
}

.icon-push-down:before {
  content: "\ea54";
}

.icon-push-up:before {
  content: "\ea55";
}

.icon-qr-code:before {
  content: "\ea56";
}

.icon-question:before {
  content: "\ea57";
}

.icon-question-alt:before {
  content: "\ea58";
}

.icon-quick-chart:before {
  content: "\ea59";
}

.icon-radar:before {
  content: "\ea5a";
}

.icon-rain:before {
  content: "\ea5b";
}

.icon-ramp:before {
  content: "\ea5c";
}

.icon-raspberry-pi:before {
  content: "\ea5d";
}

.icon-recipt:before {
  content: "\ea5e";
}

.icon-recipt-2:before {
  content: "\ea5f";
}

.icon-recycle:before {
  content: "\ea60";
}

.icon-reload:before {
  content: "\ea61";
}

.icon-remote:before {
  content: "\ea62";
}

.icon-resistor:before {
  content: "\ea63";
}

.icon-rewind:before {
  content: "\ea64";
}

.icon-rewind-2:before {
  content: "\ea65";
}

.icon-rfid-tag:before {
  content: "\ea66";
}

.icon-robot:before {
  content: "\ea67";
}

.icon-robot-2:before {
  content: "\ea68";
}

.icon-rocket:before {
  content: "\ea69";
}

.icon-router:before {
  content: "\ea6a";
}

.icon-rss:before {
  content: "\ea6b";
}

.icon-rtu:before {
  content: "\ea6c";
}

.icon-ruler:before {
  content: "\ea6d";
}

.icon-ruler-1:before {
  content: "\ea6e";
}

.icon-ruler-2:before {
  content: "\ea6f";
}

.icon-ruler-3:before {
  content: "\ea70";
}

.icon-s-4k:before {
  content: "\ea71";
}

.icon-s-ad:before {
  content: "\ea72";
}

.icon-satellite:before {
  content: "\ea73";
}

.icon-scale:before {
  content: "\ea74";
}

.icon-screen:before {
  content: "\ea75";
}

.icon-sd-card:before {
  content: "\ea76";
}

.icon-search:before {
  content: "\ea77";
}

.icon-search-2:before {
  content: "\ea78";
}

.icon-search-alt:before {
  content: "\ea79";
}

.icon-selector:before {
  content: "\ea7a";
}

.icon-send:before {
  content: "\ea7b";
}

.icon-sensor:before {
  content: "\ea7c";
}

.icon-sensor-2:before {
  content: "\ea7d";
}

.icon-sensor-3:before {
  content: "\ea7e";
}

.icon-sensor-4:before {
  content: "\ea7f";
}

.icon-server:before {
  content: "\ea80";
}

.icon-settings:before {
  content: "\ea81";
}

.icon-share-2:before {
  content: "\ea82";
}

.icon-s-hd:before {
  content: "\ea83";
}

.icon-shield:before {
  content: "\ea84";
}

.icon-shield-block:before {
  content: "\ea85";
}

.icon-shield-ok:before {
  content: "\ea86";
}

.icon-ship:before {
  content: "\ea87";
}

.icon-shovel:before {
  content: "\ea88";
}

.icon-shower:before {
  content: "\ea89";
}

.icon-sigma:before {
  content: "\ea8a";
}

.icon-signal:before {
  content: "\ea8b";
}

.icon-signal-0:before {
  content: "\ea8c";
}

.icon-signal-1:before {
  content: "\ea8d";
}

.icon-signal-2:before {
  content: "\ea8e";
}

.icon-signal-3:before {
  content: "\ea8f";
}

.icon-signal-threshold:before {
  content: "\ea90";
}

.icon-signature:before {
  content: "\ea91";
}

.icon-sim-card:before {
  content: "\ea92";
}

.icon-sink:before {
  content: "\ea93";
}

.icon-siren:before {
  content: "\ea94";
}

.icon-siren-2:before {
  content: "\ea95";
}

.icon-smart-glasses:before {
  content: "\ea96";
}

.icon-smartphone:before {
  content: "\ea97";
}

.icon-smart-shoe:before {
  content: "\ea98";
}

.icon-smartwatch:before {
  content: "\ea99";
}

.icon-smart-wear:before {
  content: "\ea9a";
}

.icon-snow:before {
  content: "\ea9b";
}

.icon-solar-panel:before {
  content: "\ea9c";
}

.icon-sort-ascending:before {
  content: "\ea9d";
}

.icon-sort-descending:before {
  content: "\ea9e";
}

.icon-sort-numeric-ascending:before {
  content: "\ea9f";
}

.icon-sort-numeric-descending:before {
  content: "\eaa0";
}

.icon-sort-size-ascending:before {
  content: "\eaa1";
}

.icon-sort-size-descending:before {
  content: "\eaa2";
}

.icon-sound:before {
  content: "\eaa3";
}

.icon-sound-n:before {
  content: "\eaa4";
}

.icon-source:before {
  content: "\eaa5";
}

.icon-sparkline:before {
  content: "\eaa6";
}

.icon-speaker:before {
  content: "\eaa7";
}

.icon-spin:before {
  content: "\eaa8";
}

.icon-sprinkler:before {
  content: "\eaa9";
}

.icon-star:before {
  content: "\eaaa";
}

.icon-star-e:before {
  content: "\eaab";
}

.icon-step-down:before {
  content: "\eaac";
}

.icon-step-up:before {
  content: "\eaad";
}

.icon-store:before {
  content: "\eaae";
}

.icon-storm:before {
  content: "\eaaf";
}

.icon-subtle:before {
  content: "\eab0";
}

.icon-subway:before {
  content: "\eab1";
}

.icon-suitcase:before {
  content: "\eab2";
}

.icon-sun:before {
  content: "\eab3";
}

.icon-swipe:before {
  content: "\eab4";
}

.icon-switch:before {
  content: "\eab5";
}

.icon-switch-control:before {
  content: "\eab6";
}

.icon-tablet:before {
  content: "\eab7";
}

.icon-tag:before {
  content: "\eab8";
}

.icon-tags:before {
  content: "\eab9";
}

.icon-tally:before {
  content: "\eaba";
}

.icon-tape:before {
  content: "\eabb";
}

.icon-tempearture-k:before {
  content: "\eabc";
}

.icon-temperature:before {
  content: "\eabd";
}

.icon-temperature-2:before {
  content: "\eabe";
}

.icon-temperature-3:before {
  content: "\eabf";
}

.icon-temperature-c:before {
  content: "\eac0";
}

.icon-temperature-f:before {
  content: "\eac1";
}

.icon-temperature-freezing:before {
  content: "\eac2";
}

.icon-test-tube:before {
  content: "\eac3";
}

.icon-texture:before {
  content: "\eac4";
}

.icon-theta:before {
  content: "\eac5";
}

.icon-time:before {
  content: "\eac6";
}

.icon-timer:before {
  content: "\eac7";
}

.icon-tow-truck:before {
  content: "\eac8";
}

.icon-tractor:before {
  content: "\eac9";
}

.icon-traffic-lights:before {
  content: "\eaca";
}

.icon-train:before {
  content: "\eacb";
}

.icon-transfer:before {
  content: "\eacc";
}

.icon-trash:before {
  content: "\eacd";
}

.icon-tree:before {
  content: "\eace";
}

.icon-triangle-down:before {
  content: "\eacf";
}

.icon-triangle-left:before {
  content: "\ead0";
}

.icon-triangle-right:before {
  content: "\ead1";
}

.icon-triangle-up:before {
  content: "\ead2";
}

.icon-trophy:before {
  content: "\ead3";
}

.icon-truck:before {
  content: "\ead4";
}

.icon-truck-2:before {
  content: "\ead5";
}

.icon-truck-top:before {
  content: "\ead6";
}

.icon-tv:before {
  content: "\ead7";
}

.icon-twin:before {
  content: "\ead8";
}

.icon-twin-2:before {
  content: "\ead9";
}

.icon-upload:before {
  content: "\eada";
}

.icon-usb:before {
  content: "\eadb";
}

.icon-usb-2:before {
  content: "\eadc";
}

.icon-user:before {
  content: "\eadd";
}

.icon-user-analyst:before {
  content: "\eade";
}

.icon-user-badge:before {
  content: "\eadf";
}

.icon-user-finance:before {
  content: "\eae0";
}

.icon-user-headset:before {
  content: "\eae1";
}

.icon-user-helmet:before {
  content: "\eae2";
}

.icon-user-ok:before {
  content: "\eae3";
}

.icon-user-scientist:before {
  content: "\eae4";
}

.icon-user-settings:before {
  content: "\eae5";
}

.icon-user-supervisor:before {
  content: "\eae6";
}

.icon-valve-horizontal:before {
  content: "\eae7";
}

.icon-valve-vertical:before {
  content: "\eae8";
}

.icon-van:before {
  content: "\eae9";
}

.icon-video:before {
  content: "\eaea";
}

.icon-video-n:before {
  content: "\eaeb";
}

.icon-vitals:before {
  content: "\eaec";
}

.icon-voice-message:before {
  content: "\eaed";
}

.icon-vr-glasses:before {
  content: "\eaee";
}

.icon-walkie-talkie:before {
  content: "\eaef";
}

.icon-warehouse:before {
  content: "\eaf0";
}

.icon-warehouse-2:before {
  content: "\eaf1";
}

.icon-warning:before {
  content: "\eaf2";
}

.icon-warning-alt:before {
  content: "\eaf3";
}

.icon-washer:before {
  content: "\eaf4";
}

.icon-watchdog:before {
  content: "\eaf5";
}

.icon-water:before {
  content: "\eaf6";
}

.icon-water-dispenser:before {
  content: "\eaf7";
}

.icon-water-down:before {
  content: "\eaf8";
}

.icon-water-level:before {
  content: "\eaf9";
}

.icon-water-up:before {
  content: "\eafa";
}

.icon-waveform:before {
  content: "\eafb";
}

.icon-wc:before {
  content: "\eafc";
}

.icon-weight:before {
  content: "\eafd";
}

.icon-wheelchair:before {
  content: "\eafe";
}

.icon-wifi:before {
  content: "\eaff";
}

.icon-wind:before {
  content: "\eb00";
}

.icon-window:before {
  content: "\eb01";
}

.icon-window-2:before {
  content: "\eb02";
}

.icon-window-lock:before {
  content: "\eb03";
}

.icon-world:before {
  content: "\eb04";
}

.icon-wrench:before {
  content: "\eb05";
}

.spin_, .icon-loading-1, .icon-loading-2, .icon-loading-3 {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  display: block;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

svg {
  display: block;
}

.js-plotly-plot svg {
  display: inline;
}

div.plotly-notifier {
  visibility: hidden;
}

@font-face {
  font-family: "at_font";
  src: url("fonts/DIN.ttf");
}
.font_body, select, input, body {
  font-size: 1rem;
}

.at_font {
  font-family: "at_font";
  font-size: 36px;
}

.font_mono {
  font-family: monospace;
  font-size: 20px;
}

.text_small {
  font-size: 1rem;
}

.text_medium {
  font-size: 2rem;
}

.text_large {
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "at_font";
}

body {
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
}

.no-selectable, .counter-button, .tree-node {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
.ttip {
  position: relative;
  display: inline-block;
}

.ttip>span {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  z-index: 99;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  white-space: nowrap;
}

.ttip>span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.ttip:hover>span {
  visibility: visible;
}*/

/*# sourceMappingURL=style.css.map */
